* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aquamarine;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: lavender;
  height: 60vh;
  width: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px gray;
}

#chatbox {
  border: 1px solid #ccc;
  padding: 10px;
  height: 200px;
  width: 100%;
  overflow-y: auto;
  background-color: #fff;
}

.user {
  color: blue;
}

.bot {
  color: green;
}

#sendbtn {
  background-color: black;
  color: white;
  width: 100%;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}
